*{
    font-family: trebuchet ms, Helvetica, Arial;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: gray;
}

header{
    position: fixed;
    background-color: #333;
    color: white;
    padding: 0.5vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.info {
    position: absolute;
    top: 11vh;
    left: 50%;
    transform: translateX(-50%);
    /* width: 60%; */
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content:flex-start;
    color: white;
    flex-direction: column;
    z-index: -1;
    padding: 3vw;
    /* text-indent: 25px; */
}

.table-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    border: 5px solid darkslategray;
    padding: 10px;
    width: 100%;
}

.table-cell {
    padding: 5px;
    border: 3px solid gray;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

#table-cell-2{
    grid-column: 2 / 6;
}

#table-cell-3{
    grid-column: 2 / 4;
}

#table-cell-4{
    grid-column: 4 / 6;
}

#table-cell-5{
    grid-row: 8 / span 2;
}

#table-cell-6{
    grid-area: 8 / 2 / span 2 / span 4;
}

.back-button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer; /* Make it clickable */
}

.back-button:hover{
    background-color: #008CBA; /* Lighter shade of blue */
}

@media screen and (min-width: 1250px){
    body{
        background-image: url(A340-background.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .info{
        width: 60%;
    }
    header {
        font-size: 1.2vw;
    }
    article{
        font-weight: bold;
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 1251px){ 
    body{
        background-image: url(A340-background-2.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .info {
        top: 9vh;
        width: 75%;
    }
    header {
        font-size: 2.5vw;
        height: 8vh;
    }
    article{
        font-weight: bold;
        font-size: 2.5vw;
    }
}