*{
    font-family: trebuchet ms, Helvetica, Arial;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: gray;
}

header{
    background-color: #333;
    color: white;
    padding: 0.5vh;
    text-align: center;
}

@media screen and (min-width: 1250px){
    body{
        background-image: url(A340-background.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    header {
        font-size: 1.2vw;
    }
}

@media screen and (max-width: 1251px){ 
    body{
        background-image: url(A340-background-2.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    header {
        font-size: 2.5vw;
    }
}