*{
    font-family: trebuchet ms, Helvetica, Arial;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: gray;
}

header{
    position: fixed;
    background-color: #333;
    color: white;
    padding: 0.5vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.info {
    position: absolute;
    top: 11vh;
    left: 50%;
    transform: translateX(-50%);
    /* width: 60%; */
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    flex-direction: column;
    z-index: -1;
    padding: 3vw;
    /* text-indent: 25px; */
}

.table-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    border: 5px solid darkslategray;
    padding: 10px;
    width: calc(100% - 3vw);
    overflow-x: auto;
    text-align: center;
}

.table-cell {
    padding: 5px;
    border: 3px solid gray;
  
    display: flex;
    align-items: center;
    justify-content: center;
}

#table-cell-2{
    grid-column: 2/6;
}

#table-cell-3{
    grid-column: 6/8;
}

#table-cell-4{
    grid-column: 3/7;
}

#table-cell-5{
    grid-column: 2/8;
}

#table-cell-6{
    grid-column: 2/8;
}

.back-button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.back-button:hover{
    background-color: #008CBA;
}

article:first-child{
    text-indent: 25px;
}

article:nth-child(2){
    text-indent: 25px;
}

#menu-label {
    display: block;
    cursor: pointer;
    font-size: inherit;
    margin-bottom: 10px;
}

#menu-checkbox {
    display: none;
}

#menu-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#menu-checkbox:checked~#menu-content {
    max-height: 200px;
}

#menu-content a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    padding:  15px;
}

@media screen and (min-width: 1250px){
    body{
        background-image: url(resources/B747-background.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .info{
        width: 60%;
    }
    header {
        font-size: 1.2vw;
    }
    article{
        font-weight: bold;
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 1251px){ 
    body{
        background-image: url(resources/B747-background-2.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    .info {
        top: 9vh;
        width: 75%;
    }
    header {
        font-size: 2.5vw;
        height: calc(8vh + 2vw);
    }
    article{
        font-weight: bold;
        font-size: calc(1.5vh + 0.5vw);
    }
    .table-container{
        font-size: calc(1.5vh + 0.5vw);
    }
}